<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
 "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
   <title>Is The House Sitting?</title>
	<link rel="alternate" type="application/atom+xml" href="http://twitter.com/statuses/user_timeline/6467332.atom" title="UKParliament on Twitter">
    <link rel="alternate" type="application/rss+xml" href="http://services.parliament.uk/calendar/commons.rss" title="House of Commons calendar">
    <link rel="alternate" type="application/rss+xml" href="http://services.parliament.uk/calendar/commons.rss" title="House of Lords calendar">
    <link rel="alternate" type="application/rss+xml" href="http://www.tweetminster.co.uk/tweets/tweeters.rss" title="Tweetminster">
    <link rel="shortcut icon" href="/images/favicon.ico">
   <link rel="stylesheet" href="http://yui.yahooapis.com/2.5.1/build/reset-fonts-grids/reset-fonts-grids.css" type="text/css">
       <link href="/stylesheets/default.css" media="screen" rel="stylesheet" type="text/css" />
   <style type="text/css">

   </style>
</head>
<body id="isthehousesitting-com">
	<div id="wrapper" class="yui-t7">
   <div id="hd"><h1>Is The House Sitting?</h1></div>
   <div id="bd">
	<div class="yui-g">
    <div class="yui-g first">
        <div class="yui-u first">
					<h2>The House of Commons</h2>

					{% if inRecessCommons %} <p>The House of Commons is in Recess.</p> {% endif %}

					{% if commons_sitting %}

					  {% for entry in commons.entries %}
					  <p><h3 class="summary">{{entry.summary}}</h3>{{entry.title}}</p>
						{% endfor %}

						{% else %}
								<p>The House of Commons Calendar has no business recorded for today.</p>
					  {% endif %}
	
	        </div>
        <div class="yui-u">
				<h2>The House of Lords</h2>


				  {% if inRecessLords %}

								<p>The House of Lords is in Recess.</p>
								{% endif %}

					            {% if lords_sitting %}

					  {% for entry in lords.entries %}
					<p><h3 class="summary">{{entry.summary}}</h3>{{entry.title}}</p>
						{% endfor %}

						{% else %}

								<p>The House of Lords Calendar has no business recorded for today.</p>

					  {% endif %}
	        </div>
    </div>
    <div class="yui-g">
        <div class="yui-u first">
					<h2>UKParliament on Twitter</h2>
				  {% for entry in parliament.entries %}

					<p><h3>{{entry.title|urlize}}</h3>
			{{entry.published_parsed.2}}.{{entry.published_parsed.1}}.{{entry.published_parsed.0}}</p>

						{% endfor %}	        </div>
        <div class="yui-u">
					<h2><abbr title="Members of Parliament">MPs</abbr> and <abbr title="Prospective Parliamentary Candidates">PPCs</abbr> on Twitter</h2>

					{% for entry in tweetminster.entries %}
					<p><h3>{{entry.title|urlize}}</h3></p>

						{% endfor %}	        </div>
    </div>
</div>

	</div>
   <div id="ft"><address>mail@robertbrook.com</address></div>
</div>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-294350-6");
pageTracker._trackPageview();
} catch(err) {}</script>
</body>
</html>
